.background-container{
    /*Source: https://www.pexels.com/photo/snow-top-mountain-under-clear-sky-1054218/*/
    background-image: url('../../../assets/mountain_background2.jpg');
    width: 100%;
    min-height: 40rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: inline-block;
}
.home-container{
    /* border: 1px solid black; */
    /* margin: 1rem; */
    padding: 2rem 2rem;
    max-width: 60%;
    text-align: center;
    float: right;
}
.content-container{
    display: inline-block;
    /* border: 1px solid red; */
    padding: 1rem 1rem;
    vertical-align: middle;
}
.profile-container{
    max-width: 40%;
    min-height: 100%;
    border-color: aliceblue;
    float: left;
    margin: 6rem;
}
.card{
    margin-top:40px;
    margin-left:40px;
}