.align-right{
    float: right;
    width: max-content;
}
/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/

/* .btn-light {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd;
} */
.highlight-green:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color:lightgreen;
    /* border-color: #285e8e; */
}

.highlight-blue:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color:lightblue;
    /* border-color: #285e8e; */
}

.highlight-red:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color:rgb(238, 155, 144);
    /* border-color: #285e8e; */
}
.center{
    margin-left: 40%;
}