<form id="login-user" (ngSubmit)="login()" #loginForm>
    <div class="form-group">

        <label for="Email">Email</label>
        <input [(ngModel)]="credentials.username" class="form-control" name="Email" id="Email" type="text" required maxlength="30" #Email="ngModel" />
        <div class="alert" *ngIf="Email.invalid">
            <div *ngIf="Email.errors?.['required']">Email is required</div>
        </div>

        <label for="Password">Password</label>
        <input [(ngModel)]="credentials.password" class="form-control" name="Password" id="Password" type="password" required maxlength="20" #Password="ngModel"/>
        <div class="alert" *ngIf="Password.invalid">
            <div *ngIf="Password.errors?.['required']">Password is required</div>
        </div>
        <div style="margin-top: 5px;">
            <input class="btn btn-success submit-button" type="submit" value="Log In"/>
        </div>
    </div>
</form>
<div>
    {{ credentials | json }}
</div>