<div class="card" [class]="maxDevices==2 ? 'bronze':maxDevices==4 ? 'silver':'gold'" style="border-radius:20%;" >
    
    <div class="card-header" style="padding-top: 20px;">
        <h5>{{name}}</h5>
    </div>
    <div class="card-body">
        <h3 class="card-text">Price: ${{cost}}</h3>
        <p class="card-text">{{description}}</p>
        <p class="card-text">Device Limit: {{maxDevices}}</p>
        <button (click)="addPlan()" class="btn btn-primary" style="border-radius:10px;" *ngIf="enableAdd"><h3 class="text-white">Add Plan</h3></button>
    </div>
</div>