.card{
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease;
}
.card:hover{
    transform: scale(1.1);
}
.bronze{
    background-color: burlywood;
}
.silver{
    background-color: lightgrey;
}
.gold{
    background-color: gold;
}