.background-container {
    /*Source: https://www.pexels.com/photo/mountain-covered-snow-under-star-572897/*/
    background-image: url('../../../assets/mountain_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.image-container{
    display: inline-flex;
    text-align: center;
    padding: 2rem;
}
.image-hover{
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
}
.image-hover:hover{
    transform: scale(1.1);
}
.center-text{
    margin: auto;
    max-width: 40%;
    color: white;
    mix-blend-mode: difference;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.people-img{
    border-radius: 0%;
}
.circle-img{
    border-radius: 50%;
}