<div class="background-container">

    <div class="image-container image-hover">
        <img class="circle-img" src="../../../assets/couple_with_phones.jpg">
        <h1 class="center-text">
            Connect with your loved ones
        </h1>
    </div>

    <div class="image-container image-hover">
        <h1 class="center-text" style="padding-right: 1rem;">
            Unlimited talk & text
        </h1>
        <img class="circle-img" src="../../../assets/woman_with_phone.jpg">
    </div>   

    <div class="image-container image-hover">
        <img class="circle-img" src="../../../assets/park-s.jpg">
        <h1 class="center-text">
            Stay connected anywhere
        </h1>
    </div>

    <app-slideshow></app-slideshow>

</div>