<div class="background-container">

    <div class="image-container image-hover">
        <!-- Source: https://www.pexels.com/photo/silhouette-of-a-person-on-a-swing-3293148/-->
        <img class="circle-img" src="../../../assets/couple_with_phones.jpg">
        <h1 class="center-text">
            Connect with your loved ones
        </h1>
    </div>

    <div class="image-container image-hover">
        <h1 class="center-text" style="padding-right: 1rem;">
            Unlimited talk & text
        </h1>
        <!-- Source: https://www.pexels.com/photo/pine-tree-and-sun-light-590134/-->
        <img class="circle-img" src="../../../assets/woman_with_phone.jpg">
    </div>   

    <div class="image-container image-hover">
        <!-- Source: https://www.pexels.com/photo/gray-bench-on-park-983436/-->
        <img class="circle-img" src="../../../assets/park-s.jpg">
        <h1 class="center-text">
            Stay connected anywhere
        </h1>
    </div>

    <app-slideshow></app-slideshow>

</div>