<div class="card">
    <div class="card-header">
      Plans
    </div>
    <div class="card-body">
      <h5 class="card-title">Plans</h5>
      <p class="card-text">From here, the user probably selects to add a device to an existing plan, or add a new one. Existing plans can be cards like this one, and have a button to add devices. And maybe a dropdown to select a new phone plan to add.</p>
      <a [routerLink]="['/home']" class="btn btn-primary">Go Back To Home (Could later be 'Add Device')</a>
    </div>
  </div>