<div class="uk-container" id="slideShow">
    <div class="uk-position-relative uk-visible-toggle uk-light uk-container slideShow-container" tabindex="-1"
        uk-slideshow="autoplay: min-height: 300px; max-height: 400px; animation: fade;">

        <ul class="uk-slideshow-items">
            <li>
                <img src="../../../assets/beach-s.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="../../../assets/forest-s.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="../../../assets/park-s.jpg" alt="" uk-cover>
            </li>
        </ul>
            <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
                <li data-uk-slideshow-item="0"><a href=""></a></li>
                <li data-uk-slideshow-item="1"><a href=""></a></li>
                <li data-uk-slideshow-item="2"><a href=""></a></li>
            </ul>
    </div>
</div>